<!DOCTYPE html>
<html>
  <head>
    <title>MuisicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <header>
        Music App
      </header>
      <div>
        <% if current_user.nil? %>
          <%= link_to "Sign Up", new_user_url %>
          <%= link_to "Log In", new_session_url %>
        <% else %>
          <%= button_to "Log out", session_url, method: :delete %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
