<h1>NEW <%= @current_band.name.upcase %> ALBUM!</h1>


<form class="new_album" action=" <%= albums_url %> " method="post">
  <%= authen_form %>

  <label for="album_title">Title
    <input type="text" name="album[title]" value="">
  </label>
  <br><br>


  <label for="album_band">Band
    <select name="album[band]">
      <% Band.all.each do |band| %>
        <option value="<%= band.id %>" <%= @current_band == band ? "select" : "" %>>
          <%= band.name %>
        </option>
      <% end  %>
    </select>
  </label>
  <br><br>

  <label for="album_type">Live
    <input type="radio" name="album[alb_type]" value="Live"
     <%= @album.alb_type == 'Live' ? 'checked' : '' %> >
  </label>
  <label for="album_type">Studio
    <input type="radio" name="album[alb_type]" value="Studio"
     <%= @album.alb_type == 'Studio' ? 'checked' : '' %> >
  </label>
  <br><br>

  <label for="album_year">Year
    <input type="text" name="album[year]" value="">
  </label>
  <br><br>

  <input type="submit" value="Submit">

</form>
