<h1><%= @album.title %></h1>


<div class="album_option">
  <h4>LINKS</h4>
  <%= button_to "New track", new_album_track_url(@album), method: :get %>
  <%= button_to "Edit Album", edit_album_url(@album), method: :get %>
  <%= button_to "Destroy Album", album_url(@album), method: :delete %>
  <%= button_to "Back to #{@album.band.name}", band_url(@album.band), method: :get %>

</div>
